#dugme {
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: 90px;
    position: absolute;
}

#na_server {
    font-size: 12.5px;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: 500px;
    position:absolute;
    margin-top: 6%;
}

#polje {
    background-color: aliceblue;
    color: black;
    padding: 30px;
    text-align: center;
    width: 150px;
    height: 90px;
    margin-top: 100px;
    margin-left: 50px;
}

p {
    font-size: 17px;
    text-align: center;
}

body {
    background: url("F:/IT OBUKA/Za_Git/learngit/domaci_zadaci/dejan_dasic/Ispis_rakete/space_x_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#dugme:hover{
    background-color: aliceblue;
    color: black;
}

table, th, td {
    border:1px solid black;
    position: relative;
    background-color: aliceblue;
  }

  table{
      width: 34%;
      background-color: white;
      margin-left: 21%;
      margin-top: -209px;
  }























































