* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('img/bg.jpg');
	font-family: sans-serif;
	color: white;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
}

h2 {
	margin-bottom: 15px;
}

h3 {
	margin-bottom: 15px;
}

.background-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    width: 100%;
    height: 100vh;
}

.container{
    max-width: 800px;
    margin: auto;
    border: 2px solid orange;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.container input{
    max-width: 80px;
    height: 30px;
    font-size: 18px;
    text-align: center;
}

.container button{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: orange;
    cursor: pointer;
    border-radius: 10px;
}

.new-value {
	margin-top: 20px;
	font-size: 20px;
}


